<!doctype html>
<html>
	<head>
		<h1 style="margin: auto; text-align: center">Detailed Information for {{ building_name }}</h1>
	</head>
	<body>
		<ul>
		{% for key in result %}
			<br>
			<div style="width:880px; height:480px; margin: auto; text-align:center; margin-bottom: 100px">
				<br>
				<h3>Details for {{ key }}</h3>
				{% for detail in result[key][1] %}
					{{ detail }}
					<br>
				{% endfor %}
				{{ result[key][0]|safe }}
				<br>
			</div>
			<br><br><br>
		{% endfor %}
		</ul>
	</body>
</html>