<!DOCTYPE html>
<html lang="en-US">
    <head>
        <title>{{ title|safe }}</title>
        <meta name="viewport" content="initial-scale=1.0">
        <meta charset="utf-8">

        {% for url in js_urls %}
            <script src="{{ url|safe }}"></script>
        {% endfor %}
        {% for url in css_urls %}
            <link rel="stylesheet" type="text/css" href="{{ url|safe }}">
        {% endfor %}

        <script>init({{ buildings|tojson|safe }}, {{ request.script_root|tojson|safe }});</script>
        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAZblA87mmIXDi89Y-4P3xyB_Bu10CECwI&callback=initMap" async defer></script>
    </head>
    <body>
        <nav class="navbar navbar-default navbar-fixed-top">
            <div class="container-fluid">
                <div class="collapse navbar-collapse" id="collapse-1">
                    <ul class="nav navbar-nav navbar-left">
                        <button class="btn btn-primary" id="toggle-button" type="button" style="position:relative;top:8px">
                            <span class="fa fa-align-justify" title="EWS Labs" aria-hidden="true"></span> EWS Labs
                        </button>
                        {% if home_url %}
                        <a href="{{ home_url|safe }}">
                            <button class="btn btn-default"type="button" style="position:relative;top:8px">
                                <span class="fa fa-home" title="EWS Labs" aria-hidden="true"></span> Home
                            </button>
                        </a>
                        {% endif %}
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <form class="form-inline" style="position:relative;top:8px;right:10px" action="{{ search_url|safe }}" method="post">
                            <div class="form-group">
                                <label class="sr-only" for="searching">Search</label>
                                <input type="text" class="form-control" id="search" name="search" placeholder="Search...">
                            </div>
                            <button class="btn btn-default" type="submit">
                                <span class="fa fa-search" title="Search" aria-hidden="true"></span> Search
                            </button>
                        </form>
                    </ul>
                </div>
            </div>
        </nav>
        <div id="wrapper">
            <div id="sidebar-wrapper" class="col-md-3">
                <div id="sidebar">
                    <button class="btn btn-primary" type="button" id="current-location" style="width: 100%">Current Location</button>
                    <p></p>
                    <div class="panel-group" id="accordion" role="tablist">
                        <div class="panel panel-info" style="display:none">
                            <div class="panel-heading">
                                <h1 class="panel-title">Favorites</h1>
                            </div>
                            {% for building in buildings %}
                                {% for lab in buildings[building]['labs'] %}
                                    <div class="panel-body" id="favorite-{{ lab.split(' ')|join('_') }}" style="display:none">
                                        <a>
                                            <div>
                                                <div class="_panel">{{ building + " " + lab + ': ' + buildings[building]['labs'][lab]['inuse']|string + " / " + buildings[building]['labs'][lab]['total']|string + " in use" }}</div>
                                                <span class="fa fa-star pull-right" title="Unfavorite"></span>
                                            </div>
                                        </a>
                                    </div>
                                {% endfor %}
                            {% endfor %}
                        </div>
                        {% for building in buildings %}
                            <div class="panel panel-default">
                                <div class="panel-heading" role="tab" id="{{ building }}">
                                    <h4 class="panel-title">
                                        <a role="button" data-toggle="collapse" href="#collapse{{ building }}">{{ buildings[building]['long_name'] }}</a>
                                    </h4>
                                </div>
                                <div id="collapse{{ building }}" class="panel-collapse collapse out" role="tabpanel" >
                                {% for lab in buildings[building]['labs'] %}
                                    <div class="panel-body" id="{{ lab.split(' ')|join('_') }}">
                                        <a>
                                            <div>
                                                <div class="_panel">{{ lab + ': ' + buildings[building]['labs'][lab]['inuse']|string + " / " + buildings[building]['labs'][lab]['total']|string + " in use" }}</div>
                                                <span class="fa fa-star-o pull-right" title="Favorite"></span>
                                            </div>
                                        </a>
                                    </div>
                                {% endfor %}
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div id="main-wrapper" class="col-md-9 pull-right">
                <div id="map"></div>
            </div>
        </div>
    </body>
</html>
